<nav class="navbar navbar-expand-lg navbar-dark">
  <span><mat-icon>looks</mat-icon></span>
  <a class="navbar-brand" href="#"> &nbsp;CHUM</a>
  <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']" i18n="navlink|accueil@@accueil">Accueil <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['maladie']" i18n="navlink|maladie@@maladie">Maladie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['vaccin']" i18n="navlink|vaccin@@vaccin">Vaccin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['prevention']" i18n="navlink|prev@@prev">Prévention</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['test']" i18n="navlink|test@@test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" i18n="@@text" i18n-href="@@oms-link" i18n-title="@@title" href="https://www.who.int/fr"
          title="OMS" target="_blank">OMS</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-1">
      <li class="nav-item">
        <span class="nav-link">
          <span><mat-icon class="icon-language">language</mat-icon></span>
        </span>
      </li>
      <li class="nav-item" *ngFor="let locale of localesList">
        <a class="nav-link" href="/{{locale.code}}/">
          {{locale.label}}
        </a>
      </li>
    </ul>

  </div>
</nav>
