.feedback-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

h1 {
  align-items: flex-start;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 40px;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(133, 133, 133);
  box-shadow: 1px 4px 10px rgb(48, 48, 48);
}

.full-width {
  width: 100%;
}

mat-card-title {
  margin-bottom: 30px;
  color: #b82d2d;
  font-weight: 400;
}

mat-icon {
  color: #b82d2d;
}

mat-error {
  font-size: 12px;
}

input {
  color: #333;
}

button {
  background: #6d6d6d;
  color: #fff;
}

@media screen and (max-width: 800px) {

  .feedback-form {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  .feedback-form {
    margin-top: 30px;
    width: 90%;
  }
}
