.container-fluid {
  margin: 80px auto auto auto;
  width: 100%;
}

table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.header {
  background-color: #ccc;
  font-size: 16px;
}

.row {
  color: #333;
  font-size: 16px;
}
