<div class="container-infos">
  <header class="header">
    <app-carousel></app-carousel>
  </header>

  <div class="text-box">
    <h1 class="titre" i18n="h2title|titleaccueil@@h2accueil">Évolution de la maladie</h1>
    <p class="texte-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Velit aliquet sagittis
      id consectetur purus ut faucibus pulvinar. Varius duis at consectetur lorem.
      Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Id velit ut
      tortor pretium. Accumsan tortor posuere ac ut consequat semper viverra nam libero.
      Elit pellentesque habitant morbi tristique senectus et netus et. Eget gravida cum
      sociis natoque penatibus et magnis dis. Ultrices vitae auctor eu augue ut lectus.
      Vitae sapien pellentesque habitant morbi. Mattis molestie a iaculis at.
    </p>
    <p class="texte-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Velit aliquet sagittis
      id consectetur purus ut faucibus pulvinar. Varius duis at consectetur lorem.
      Mus mauris vitae ultricies leo integer malesuada nunc vel risus. Id velit ut
      tortor pretium. Accumsan tortor posuere ac ut consequat semper viverra nam libero.
      Elit pellentesque habitant morbi tristique senectus et netus et. Eget gravida cum
      sociis natoque penatibus et magnis dis. Ultrices vitae auctor eu augue ut lectus.
      Vitae sapien pellentesque habitant morbi. Mattis molestie a iaculis at.
    </p>
    <div data-aos="fade-right" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1000"
      data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" class="photos-box">
      <img class="responsive" src="./assets/images/symptoms.png" alt="symptomes">
    </div>

  </div>

</div>
